
<div class="row justify-content-evenly" style="background-color:#e1e1e1;">
  <div class="col-lg-5 mt-2 col-sm-11">
    <h2>  <span id="event" class="first_letter">NEED PERSONAL</span>
      <span id="gallery" class="second_letter"> Assistance </span>
    </h2>

    <div class="in mt-2 ">
      
     
      <i class="fa-regular fa-envelope itag "></i><p>Email Address</p><br>
      <p id="spec">abc@gmail.com</p><br>
      <i class="fa-solid fa-phone itag"></i><p>Contact Support</p>
      <br>
      <p id="spec">9931548987</p>
  
    </div>
  </div>
  <div class="col-lg-6 ">
    <div class="row justify-content-evenly mt-2">
      <div class="col-sm-3 mt-3 left">
        <h6  style="color:#e31837"> VEHICLES</h6>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;"> XUV700</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Thar</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">XUV300</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Bolero Neo</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Alturas GA</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Marazzo</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">More...</a></li>
        
      </div>
      <div class="col-sm-3 mt-3 left">
        <h6  style="color:#e31837">OUTLETS</h6>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Showrooms</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Workshops</a></li>
     
      </div>
      <div class="col-sm-3 mt-3 left">
        <h6  style="color:#e31837">ABOUT US</h6>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;"> Mishra moter</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Gallery</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Testimonials</a></li>
        <li style="list-style-type: none; color: black;"><a href="#" style="text-decoration:none;">Contact</a></li>
       
      </div>
    </div>
  </div>
</div>

<!--Favicon starts gere-->
<div class="row justify-content-evenly " style="background-color:#e1e1e1;">
  <div class="col-lg-6 sec_last col-md-5" >

  </div>

  <div class="col-lg-6 sec_last col-md-7 " >
    <span>Follow Us</span>
   <a href="#" > <i class="fa-brands fa-square-facebook"></i></a>
   <a href="#" ><i class="fa-brands fa-square-twitter"></i></a>
    <a href="#" ><i class="fa-brands fa-square-instagram"></i></a>
    <a href="#" ><i class="fa-brands fa-square-youtube"></i></a>
    <a href="#" ><i class="fa-brands fa-linkedin"></i></a>
    <a href="#" ><i class="fa-solid fa-square-envelope"></i></a>
      </div>
</div>





<!--CopyRight Starts here-->
<div class="row justify-content-evenly" style="background-color:#adadad;">
<div class="col-lg-5 last">
  <p>All Rights Reserved | Copyright Mishra Moter Workshop 2022</p>
</div>

<div class="col-lg-6 last aq" >
  <p>Terms & Conditions Privacy Policy Disclaimer Sitemap</p>
</div>
</div>






<div class="row" style="background-color:#e1e1e1;">
  <div class="col-sm-11 lastt">
  
    </div>
  </div>
  

