 <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e31837; ">
      <div class="container-fluid">
       <img src="./img/Screenshot (88)_cleanup (1).png" alt="" id="im">
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" style="background-color:white;"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto pt-3 " style="background-color: #e31837;">
            <li class="nav-item active nav_item">
              <a class="nav-link  text-light" href="/">Home <span class="sr-only"></span></a>
            </li>
            
            <li class="nav-item dropdown nav_item">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Service
                </a>
                <div class="dropdown-menu hov" aria-labelledby="navbarDropdown"style="background-color: #535353;" >
                  <a class="dropdown-item text-light" href="#">Repairing</a>
                  <a class="dropdown-item text-light" href="#">Denting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-light" href="#">Painting</a>
                </div>
              </li>


        



            



              <li class="nav-item dropdown nav_item">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Contact
                </a>
                <div class="dropdown-menu hov" aria-labelledby="navbarDropdown"style="background-color: #535353;" >
                  <a class="dropdown-item text-light" href="#">Quick Connect</a>
                  <a class="dropdown-item text-light" href="#">Email</a>
                 
              </li>
             
             


              
              <li class="nav-item active nav_item">
                <a class="nav-link  text-light" href="/about">About Us <span class="sr-only"></span></a>
              </li>


              <li class="nav-item active nav_item">
                <a class="nav-link  text-light" href="/register">Register <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active nav_item">
                <a class="nav-link  text-light" href="/login">Login <span class="sr-only"></span></a>
              </li>








            
          </ul>
          
        </div>
      
      </nav>